* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif; */
    font-family: 'Helvetica 65 Medium', sans-serif;


}

.wrapper {
    padding: 100px;
}

header {
    padding: 30px 100px;
}

#spotlight {
    height: 100vh;
    background-image: url(/images/background-image/background1.png);
    background-color: #070200;
    background-repeat: no-repeat;
    background-size: contain;
}

#main {
    display: grid;
    place-items: center;
    height: 100vh;
    color: aliceblue;
}

.inner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 120px
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 72px;
    width: 80%;
    text-align: center;
    line-height: 88px;
    background: -webkit-linear-gradient(#FADFD6, #c9a1a1, #FFD4C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.auto-input {
    color: #FF632F;
    background-color: #f6603a7e;
    padding: 5px;
    border-radius: 5px;

}

.typed-cursor {
    color: #FF632F;
}

.inner-main p {
    margin-top: 32px;
    font-size: 20px;
}

.access {
    width: 264px;
    height: 64px;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 32px;
}

.arrow {
    margin-top: 32px;
}

#about {
    background-color: #070200;
    color: aliceblue;
    }

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-about {
    font-size: 48px;
    width: 30%;
    background: -webkit-linear-gradient(#FADFD6, #8399ca, #FFD4C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-about {
    font-size: 20px;
    line-height: 32px;
    width: 43%;
    background: -webkit-linear-gradient(#FADFD6, #cdbbbb, #FFD4C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.about-container {
    margin-bottom: 30px;
    background: linear-gradient(#1a0c0c, #000000) padding-box, linear-gradient(45deg, slateblue, coral) border-box;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 50px 20px;
    box-shadow: 3px 5px 5px #aaaaaa;
}

.top-heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.top-heading h3 {
    margin-left: 20px;
    font-size: 24px;
    line-height: 32px;

}

.first {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.72);
}

.first p {
    margin-left: 20px;
    font-size: 20px;


}

.second {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.72);
    font-weight: 400;
}

.second p {
    margin-left: 20px
}

.num {
    background: #131313;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px 14px;
    border: 2px solid gray
}

.bottom-content {
    margin-left: 8px;
}

.second-h {
    width: 80%;
}

.tick {
    width: 20px;
}

.tick-img {
    width: 100%;
}

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

hr {
    margin-top: 20px;
}

.support p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #423636;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        padding : 50px
    }
    .middle{
        flex-direction: column;
        margin-top: 40px;
    }
    .top{
        flex-direction: column;

    }
    .left-about{
        width: 100%;
        font-size: 32px;
    }
    .right-about{
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        margin-top : 20px;
    }
    .company-img{
        display: none;
    }
    .main-heading{
        font-size: 44px;
        line-height: 52px;
        
    }
    #spotlight{
        background-image: url(/images/background-image/background2.png);
        background-color: #070200;
    background-repeat: no-repeat;
    background-size: contain;
    }
    .auto-input{
        padding: 0;
    }
    .inner-main p{
        display: none;
    }
    .access{
        margin-top: 140px;
    }
    .top-heading h3{
        font-size: 20px;
        line-height: 24px;
    }
    .first p, .second p {
        font-size: 16px;
        line-height: 24px;

    }
    .top-heading{
        align-items: center;
    }
    .lengthy{
        align-items: flex-start;
    }
  }